root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,jsx,ts,tsx,hcl,tf,yml,yaml}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.{md}]
trim_trailing_whitespace = false
